<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
  <display-name>New Project Template</display-name>
  
  <servlet>
	<servlet-name>admin</servlet-name>
	<jsp-file>/admin.jsp</jsp-file>
  </servlet>
   <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/*</url-pattern>
  </servlet-mapping>

 <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>Test</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test/*</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>videoStream</servlet-name>
	<jsp-file>/zettaStream.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>videoStream</servlet-name>
    <url-pattern>/stream/*</url-pattern>
  </servlet-mapping>

  <servlet>
	<servlet-name>main</servlet-name>
	<jsp-file>/zettaMain.jsp</jsp-file>
  </servlet>

  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>




</web-app>
